<main *ngIf="question">
  <div class="qa-container">
    <div class="qtn-container" color="accent">
      <div class="qtn-inner-container">
        {{ question.question }}
      </div>
    </div>
    <div class="center">
      <div class="ans-container">
        <button
          class="btn"
          mat-raised-button
    
          *ngFor="let answer of question.answers"
          (click)="submit.emit(answer)"
        >
          {{ answer.answer }}
        </button>
      </div>
    </div>
  </div>
</main>
