.qa-container {
  text-align: center;
  border-top-left-radius: 20px;
}

.qtn-container {
  width: 80%;
  height: 120px;
  position: relative;
  line-height: 120px;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 0;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #5d6567;
  color: #fff;
  font-size: 15px;
  font-family: 'Segoe UI';
  border-radius: 20px;
}

button {
  margin: 7px;
  width: 80%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #5d6567;
  &:hover{
    background-color: #f7643b;
  }
  font-size: 15px;
  font-family: 'Segoe UI';
  font-weight: normal;
  border-radius: 20px;
}

.qtn {
  width: 80%;
  height: 90px;
  text-align: center;
  margin: 27px;
  padding: 25px;
}