<main [ngSwitch]="RoomGame.state$.getValue()">
  <section *ngSwitchCase="RoomGameState.Player1Ready">
    <div>
      <div class="countdown-container">
        <div class="player-text">
          Player 1<br />
          <div class="ready-text">Ready <br />In <br /></div>
        </div>
        <div class="countdown-text">
          {{ RoomGame.readyTimer?.countdown$ | async }}
        </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="RoomGameState.Player1">
    <ng-container *ngIf="RoomGame.name == RoomGame.player1?.name">
      <div class="username-container">
        <h1>Player 1</h1>
      </div>
      <div class="time-container">
        {{ timeCounter | time: "m" }}
      </div>
      <div class="question-count-container">
        Question {{ RoomGame.questionIndex$.getValue() ?? 0 + 1 }}/10
      </div>

      <app-question
        [question]="question"
        (submit)="RoomGame.checkAnswer($event)"
      ></app-question>
      <div class="powerups">
        <button
          mat-raised-button
          color="accent"
          class="btn-power-ups"
          [disabled]="RoomGame.fiftyFifty.getValue()"
          (click)="useFiftyFifty()"
        >
          50/50
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="RoomGame.name != RoomGame.player1?.name">
      <div class="username-container">
        <h1>Player 1</h1>
      </div>
      <div class="time-container">
        {{ timeCounter | time: "m" }}
      </div>
      <div class="question-count-container">
        {{ RoomGame.questionIndex$.getValue() ?? 0 + 1 }}/10
      </div>
      <div class="powerups">
        <button
          mat-raised-button
          color="accent"
          class="btn-power-ups"
          [disabled]="RoomGame.freeze.getValue()"
          (click)="useFreeze()"
        >
          Freeze
        </button>
      </div>
    </ng-container>
  </section>

  <section *ngSwitchCase="RoomGameState.Player2Ready">
    <div>
      <div class="countdown-container">
        <div class="player-text">
          Player 2<br />
          <div class="ready-text">Ready <br />In <br /></div>
        </div>
        <div class="countdown-text">
          {{ RoomGame.readyTimer?.countdown$ | async }}
        </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="RoomGameState.Player2">
    <ng-container *ngIf="RoomGame.name == RoomGame.player2?.name">
      <div class="username-container">
        <h1>Player 2</h1>
      </div>
      <div class="time-container">
        {{ timeCounter | time: "m" }}
      </div>
      <div class="question-count-container">
        {{ RoomGame.questionIndex$.getValue() ?? 0 + 1 }}/10
      </div>

      <app-question
        [question]="question"
        (submit)="RoomGame.checkAnswer($event)"
      ></app-question>
      <div class="powerups">
        <button
          mat-raised-button
          color="accent"
          class="btn-power-ups"
          [disabled]="RoomGame.fiftyFifty.getValue()"
          (click)="useFiftyFifty()"
        >
          50/50
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="RoomGame.name != RoomGame.player2?.name">
      <div class="username-container">
        <h1>Player 2</h1>
      </div>
      <div class="time-container">
        {{ timeCounter | time: "m" }}
      </div>
      <div class="question-count-container">
        {{ RoomGame.questionIndex$.getValue() ?? 0 + 1 }}/10
      </div>
      <div class="powerups">
        <button
          mat-raised-button
          color="accent"
          class="btn-power-ups"
          [disabled]="RoomGame.freeze.getValue()"
          (click)="useFreeze()"
        >
          Freeze
        </button>
      </div>
    </ng-container>
  </section>



  <section class="review-background" *ngSwitchCase="RoomGameState.Review">
    <div class="review-title-container">
      <div class="review-title-text">Review Pit Stop</div>
      <div>
        Player 1 Time:
        {{
          RoomGame.player1End!.getTime() - RoomGame.player1Start!.getTime()
            | time: "m"
        }}
      </div>
      <br />
      <div>
        Player 2 Time:
        {{
          RoomGame.player2End!.getTime() -
            RoomGame.player2Start!.getTime() | time: "m"
        }}
      </div>
    </div>

    <!-- TODO: Show questions that need to be reviewed -->
    <div *ngFor="let reviewQuestion of RoomGame.reviewQuestions">
      <div class="review-question-container">
        <div><b>Question:</b> {{ reviewQuestion.question }}</div>
        <div class="review-question-correct-answer" *ngFor="let answer of reviewQuestion.answers">
          <div class="question-margin">
            <span *ngIf="answer.correct"> 
              <b>Correct answer:</b><br/> {{ answer.answer }}
            </span>
          </div>
        </div>
        <div class="review-question-incorrect-answer" >
          <div class="question-margin">
            <b>Incorrect answers:</b>
            <div  *ngFor="let answer of reviewQuestion.answers">
              <span *ngIf="!answer.correct"> 
                {{ answer.answer }}
              </span>
            </div>
          </div>
        </div>

      </div>
      <br />
    </div>
    <div class="button-container">
      <button
        class="play-again-button"
        mat-raised-button
        (click)="RoomGame.playAgain()"
      >
        Play Again
      </button>
    </div>
  </section>
  <!--
  <section *ngSwitchCase="RoomGameState.Review">
    <div>Review</div>
    <div>
      Player 1 Time:
      {{
        RoomGame.player1End!.getTime() - RoomGame.player1Start!.getTime()
          | time: "m"
      }}
    </div>
    <div>
      Player 2 Time:
      {{
        RoomGame.player2End!.getTime() - RoomGame.player2Start!.getTime()
          | time: "m"
      }}
    </div>

    <!-- TODO: Show questions that need to be reviewed
    <!-- <div *ngFor="let reviewQuestion of RoomGame.reviewQuestions">
      <div>{{ reviewQuestion.question }}</div>

      <div *ngFor="let answer of reviewQuestion.answers">
        {{ answer.answer }}
        <span *ngIf="answer.correct">- Correct answer</span>
      </div>
      <hr />
    </div>

    <div *ngFor="let reviewQuestion of RoomGame.reviewQuestions">
      <div class="review-question-container">
        <div>{{ reviewQuestion.question }}</div>

        <div *ngFor="let answer of reviewQuestion.answers">
          {{ answer.answer }}
          <span class="review-question-correct-answer" *ngIf="answer.correct"
            >- Correct answer</span
          >
        </div>
      </div>
      <br />
    </div>

    <button mat-raised-button (click)="RoomGame.playAgain()">Play Again</button>
  </section>
  -->
</main>
