.countdown-container {
    text-align: center;
    position: relative;
    line-height: 70%;
    width: 70%;
    height: 50%;
    margin: 10px auto;
    padding-top: 50px;
}

.question-count-container {
    width: 85%;
    height: 30px;
    position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 0;

    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
    
    background-color: #2ecc71;
    color:black;
}

.username-container {
    width: 85%;
    height: 30px;
    position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    
    color:black;
}

.time-container {
    width: 85%;
    height: 30px;
    position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6) !important;
    
    background-color: #2ecc71;
    color:black;
}