<main [ngSwitch]="SameDeviceGame.state$.getValue()">
  <section *ngSwitchCase="SameDeviceGameState.Player1Ready">
    <div>
      <div class="countdown-container">
        <div class="player-text">
          Player 1<br/>
          <div class="ready-text">
            Ready<br/>
            In<br/>
          </div>
        </div>
        <div class="countdown-text">
          {{ SameDeviceGame.readyTimer?.countdown$ | async }}
        </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Player1">
    <div class="username-container">
      <h1>Player 1</h1>
    </div>
    <div class="time-container">
      {{ timeCounter | time: "m" }}
    </div>
    <div class="question-count-container">
      Question {{ SameDeviceGame.questionIndex$.getValue() }}/10
    </div>
    <app-question
      [question]="question"
      (submit)="SameDeviceGame.checkAnswer($event)"
    ></app-question>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Player2Ready">
    <div>
      <div class="countdown-container">
        <div class="player-text">
          Player 2<br/>
            <div class="ready-text">
              Ready<br/>
              In<br/>
          </div>          
        </div>
        <div class="countdown-text">
          {{ SameDeviceGame.readyTimer?.countdown$ | async }}
        </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Player2">
    <div class="username-container">
      <h1>Player 2</h1>
    </div>
    <div class="time-container">
      {{ timeCounter | time: "m" }}
    </div >
    <div class="question-count-container">
      {{ SameDeviceGame.questionIndex$.getValue() }}/10
    </div>
    <app-question
      [question]="question"
      (submit)="SameDeviceGame.checkAnswer($event)"
    ></app-question>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Review">
    <div class="review-title-container">
      <div class="review-title-text">Pit Stop Review</div>
    </div>
    <div>
      Player 1 Time:
      {{
        SameDeviceGame.player1End!.getTime() -
          SameDeviceGame.player1Start!.getTime() | time: "m"
      }}
    </div>
    <div>
      Player 2 Time:
      {{
        SameDeviceGame.player2End!.getTime() -
          SameDeviceGame.player2Start!.getTime() | time: "m"
      }}
    </div>

    <!-- TODO: Show questions that need to be reviewed -->
    <div class="review-question-container" *ngFor="let reviewQuestion of SameDeviceGame.reviewQuestions">
      <div>{{ reviewQuestion.question }}</div>

      <div *ngFor="let answer of reviewQuestion.answers">
        {{ answer.answer }}
        <span class="review-question-correct-answer" *ngIf="answer.correct">- Correct answer</span>
      </div>
      <br>
    </div>
    <div class="button-container">
    <button class="play-again-button" 
      mat-raised-button
      (click)="SameDeviceGame.state$.next(SameDeviceGameState.Player1Ready)"
    >
      Play Again
    </button>
    </div>
  </section>
</main>
