.countdown-container {
    text-align: center;
    position: relative;
    line-height: 100%;
    width: 70%;
    height: 100%;
    margin: 10px auto;
    padding: 40px;
}

.t-container {
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.player-text {
    line-height: 1.6;
    font-size: 350%;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 10px;
}

.ready-text {
    padding: 5px;
    letter-spacing: .07cm;
}

.countdown-text {
    font-size: 650%;
    font-weight: bold;
    padding: 20px;
    text-shadow: .03em .03em 0 #fc03ca;
}

.top-container {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    justify-content: center;
}

.score-container {
    width: 40%;
    height: 30px;
    position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    float: right;
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    
    background-color: #5d6567;
    color:#fff;
    font-size: 15px;
    font-family: 'Segoe UI';
    border-radius: 20px;
    margin-bottom: 20px;
}

.question-count-container {
    width: 40%;
    height: 30px;
   // position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    float: left;
    overflow: hidden;
  
    border-width: 0;
    outline: none;

    background-color: #5d6567;
    color:#fff;
    font-size: 15px;
    font-family: 'Segoe UI';
    border-radius: 20px;
}

.avatar-container {
    height: 80%;
    display: block;
}

.user-container {
    width: 40%;
    height: 30px;
    position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    float: left;
    overflow: hidden; 
    border-width: 0;
    outline: none;    
    background-color: #5d6567;
    color:#fff;
    font-size: 15px;
    font-family: 'Segoe UI';
    border-radius: 20px;
    color:#f7643b;
    margin-bottom: 20px;
}

img {
    height: 50%;
    width: 50%;
}

.time-container {
    width: 40%;
    height: 30px;
    position: relative;
    line-height: 30px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    background-color: #5d6567;
    color: #fff;
    font-size: 15px;
    font-family: 'Segoe UI';
    float: right;
    border-radius: 20px;
}

.review-title-container {
    text-align: center;
    position: relative;
    line-height: 90%;
    width: 90%;
    height: 90%;
    margin: 5px auto;
    padding: 5px;
}

.review-title-text {
    line-height: 1.6;
    font-size: 250%;
    font-weight: bold;
    padding: 10px;
    margin: 20px; 
}

.review-question-correct-answer {
    background-color: #2ecc71;
}

.review-question-container {
    width: 85%;
    height: 100%;
    position: relative;
    line-height: 30px;
    //text-align: center;
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    //overflow: hidden;
    border-width: 0;
    outline: none;
    
    color:black;
    margin: auto;
    padding: 10px;
    border-width: 30;
    background-color: #d5d5d5;
}

.button-container {
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.play-again-button {
    margin: auto;
}

.powerups-container {
    width: 81%;
    margin: 0px auto;
    text-align: center;
    margin-top: 5px;
}

.btn-powerup-l {
    float: left;
    margin: 5px;
    width: 10%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5d6567;
    &:hover{
      background-color: #fc03ca;
    }
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: normal;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
}
.btn-powerup-c {
    float: center;
    margin: 5px;
    width: 10%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5d6567;
    &:hover{
        background-color: #fc03ca;
    }
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: normal;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
}
.btn-powerup-r {
    float: right;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    width: 10%;
    color: #fff;
    background-color: #5d6567;
    &:hover{
        background-color: #fc03ca;
    }
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: normal;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
}