<main [ngSwitch]="SameDeviceGame.state$.getValue()">
  <section *ngSwitchCase="SameDeviceGameState.Player1Ready">
    <div>
      <div class="countdown-container">
        <img
          src="assets/img/default_avatar.png"
          id="logo"
        />
        <div class="player-text">
          Player 1<br/>
          <div class="ready-text">
            Ready<br/>
            In<br/>
          </div>
        </div>
        <div class="countdown-text">
          {{ SameDeviceGame.readyTimer?.countdown$ | async }}
        </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Player1">
    <div class="t-container">
      <div class="top-container">
        <div class="user-container">
            Player 1
        </div>
        <div class="score-container">
            0
        </div>
        <div class="time-container">
          {{ timeCounter | date: 'mm:ss' }}
        </div>
        <div class="question-count-container">
          {{ SameDeviceGame.questionIndex$.getValue() }}/10
        </div>
      </div>
    </div>
    <app-question
      [question]="question"
      (submit)="SameDeviceGame.checkAnswer($event)"
    ></app-question>
    <div class="powerups-container">
      <div class="powerups-sub-container">
        <button
          class="btn-powerup-l"
          mat-raised-button
        >
          -1
        </button>
        <button
          class="btn-powerup-c"
          mat-raised-button
        >
          50/50
        </button>
        <button
          class="btn-powerup-r"
          mat-raised-button
        >
          %
        </button>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Player2Ready">
    <div>
      <div class="countdown-container">
        <img
          src="assets/img/default_avatar.png"
          id="logo"
        />
        <div class="player-text">
          Player 2<br/>
            <div class="ready-text">
              Ready<br/>
              In<br/>
          </div>          
        </div>
        <div class="countdown-text">
          {{ SameDeviceGame.readyTimer?.countdown$ | async }}
        </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Player2">
    <div class="t-container">
      <div class="top-container">
        <div class="user-container">
            Player 2
        </div>
        <div class="score-container">
            0
        </div>
        <div class="time-container">
          {{ timeCounter | date: 'mm:ss' }}
        </div>
        <div class="question-count-container">
          {{ SameDeviceGame.questionIndex$.getValue() }}/10
        </div>
      </div>
    </div>
    <app-question
      [question]="question"
      (submit)="SameDeviceGame.checkAnswer($event)"
    ></app-question>
    <div class="powerups-container">
      <div class="powerups-sub-container">
        <button
          class="btn-powerup-l"
          mat-raised-button
        >
          -1
        </button>
        <button
          class="btn-powerup-c"
          mat-raised-button
        >
          50/50
        </button>
        <button
          class="btn-powerup-r"
          mat-raised-button
        >
          %
        </button>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="SameDeviceGameState.Review">
    <div class="review-title-container">
      <div class="review-title-text">Pit Stop Review</div>
      <div>
        Player 1 Time:
        {{
          SameDeviceGame.player1End!.getTime() -
            SameDeviceGame.player1Start!.getTime() | time: "m"
        }}
      </div>
      <br>
      <div>
        Player 2 Time:
        {{
          SameDeviceGame.player2End!.getTime() -
            SameDeviceGame.player2Start!.getTime() | time: "m"
        }}
      </div>
    </div>

    <!-- TODO: Show questions that need to be reviewed -->
    <div *ngFor="let reviewQuestion of SameDeviceGame.reviewQuestions">
      <div class="review-question-container">
      <div>{{ reviewQuestion.question }}</div>

      <div *ngFor="let answer of reviewQuestion.answers">
        {{ answer.answer }}
        <span class="review-question-correct-answer" *ngIf="answer.correct">- Correct answer</span>
      </div>
      </div>
      <br>
    </div>
    <div class="button-container">
    <button class="play-again-button" 
      mat-raised-button
      (click)="SameDeviceGame.state$.next(SameDeviceGameState.Player1Ready)"
    >
      Play Again
    </button>
    </div>
  </section>
</main>
